.header-text {
    margin-left: 120px;
    text-align: center;
    font-size: 25px;
    font-size: 2.5rem;
    color:black;
}
.front-Page-btn,
.dummy-btn {
    font-size: 16px;
    font-size: 1.6rem;
    background: white;
    border: 1px grey;
}
.front-Page-btn:hover {
    background: royalblue;
}
.sectionOne {
    display: flex;
    background: #e6c453;
    border: 2px solid black;
    margin-top: 1px;
    align-items: center;
    border-radius: 10px
}