.Header-img {
    margin-right: 10px;
}
.headerOfImg1,
.headerOfImg2 {
    display: none;
}
.middleTop {
    display: flex;
    align-items: center;
    background: #e6c453;
    border: 2px solid black;
    margin-top: 1px;
    justify-content: space-between;
    text-align: right;
}
.header-text {
    margin-left: 120px;
    text-align: center;
    font-size: 25px;
    font-size: 2.5rem;
    color:black;
}